<mat-nav-list>
  <div>Users</div>
  <mat-list-item>
    <a matListItemTitle>Users</a>
  </mat-list-item>
  <mat-list-item>
    <a matListItemTitle>Roles</a>
  </mat-list-item>
  <mat-list-item>
    <a matListItemTitle>Group 1 Link 3</a>
  </mat-list-item>
  <div>Organizations</div>
  <mat-list-item>
    <a matListItemTitle>Group 2 Link 1</a>
  </mat-list-item>
  <div>Group 3</div>
  <mat-list-item>
    <a matListItemTitle>Group 3 Link 1</a>
  </mat-list-item>
  <div>Group 4</div>
  <mat-list-item>
    <a matListItemTitle>Group 4 Link 1</a>
  </mat-list-item>
</mat-nav-list>
